.compare-bikes {
  &__title {
    text-align: center;
    margin-bottom: 32px;

    @media (min-width: $tablet-min-width) {
      margin-bottom: 48px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @media (min-width: $tablet-min-width) {
      gap: 24px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__image {
    display: block;
    width: 100%;
    margin-bottom: 16px;
    transition: transform 0.3s;
  }

  &__image:hover {
    transform: scale(1.03);
  }

  &__card-title {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4;

    @media (min-width: $tablet-min-width) {
      font-size: 24px;
    }
  }

  &__description {
    margin-bottom: 16px;
    font-size: 12px;
    color: $secondary-text-color;
    line-height: 1.4;

    @media (min-width: $tablet-min-width) {
      font-size: 16px;
    }
  }

  &__price {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.4;

    @media (min-width: $tablet-min-width) {
      font-size: 24px;
    }
  }
}
