.details {
  &__block {
    margin-bottom: 48px;
  }

  &__photos {
    display: grid;
    gap: 20px;
    margin-bottom: 16px;

    @media (min-width: $tablet-min-width) {
      grid-template-columns: repeat(2, 1fr);
    }

    &--wide-left {
      @media (min-width: $tablet-min-width) {
        grid-template-columns: 2fr 1fr;
      }
    }

    &--wide-right {
      @media (min-width: $tablet-min-width) {
        grid-template-columns: 1fr 2fr;
      }
    }

    &--equal {
      @media (min-width: $tablet-min-width) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  &__photo {
    width: 100%;
    display: block;
    object-fit: cover;
  }

  &__subtitle {
    margin-bottom: 8px;
    font-size: 24px;
  }

  &__text {
    color: $secondary-text-color;
    line-height: 1.4;
  }

  &__button {
    margin-top: 16px;
  }
}
