.footer {
  position: sticky;
  bottom: 0;
  z-index: -1;
  height: 200px;
  margin-top: 0;
  background-image: url('../images/footer-cyclists.jpg');
  background-size: cover;
  background-position: center;

  @media (min-width: $tablet-min-width) {
    height: 480px;
  }

  @media (min-width: $desktop-min-width) {
    height: 555px;
  }
}
