.page {
  scroll-behavior: smooth;
  min-width: 320px;
  font-family: Arial, sans-serif;
  color: $main-text-color;
  background-color: $page-bg-color;

  &__menu {
    position: fixed;
    inset: 0;
  }
}
