.page {
  scroll-behavior: smooth;
  min-width: 320px;
  font-family: Arial, sans-serif;
  color: $main-text-color;
  background-color: $page-bg-color;

  &__menu {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    inset: 0;
    transition: all 0.3s;
  }
}
