.top-bar {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo-image {
    width: 130px;
    display: block;
  }

  &__icons {
    display: flex;
    gap: 24px;
  }
}
