.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;
  padding-inline: 0;

  @media (min-width: $tablet-min-width) {
    padding-top: 24px;
    padding-inline: 0;
  }

  @media (min-width: $desktop-min-width) {
    padding-top: 24px;
    padding-inline: 0;
  }

  &__logo {
    display: block;
    margin-left: -14px;

    @media (min-width: $tablet-min-width) {
      margin-left: -20px;
    }

    @media (min-width: $desktop-min-width) {
      margin-left: -28px;
    }
  }

  &__logo-image {
    display: block;
    width: 130px;
    height: auto;

    @media (min-width: $tablet-min-width) {
      width: 187px;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 14px;
  }
}
